body::after {
	content: "";
	background-color: #ffffff74;
	backdrop-filter: blur(7px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	will-change: transform;
	.lock & {
		visibility: visible;
	}
}

.popup__close {
	position: absolute;
	display: inline-block;
	right: 0;
	transform: translate(calc(-100% - 50px), 40px);
	top: 0;
	cursor: pointer;
	color: $notWhite;
}

//====================форма регистрации======================

.reg,
.goodReg {
	display: block;
	max-width: 615px;
	margin-inline: auto;
	padding: rem(70) rem(90);
	border-radius: 80px;
	background-color: #4e4e4ec5;
	overflow: hidden;
}

// .reg__head

.reg {
	&__head {
		margin-bottom: rem(30);
	}

	// .reg__title

	&__title {
		text-align: center;
	}

	// .reg__subtitle

	&__subtitle {
		text-align: center;
		color: $notWhite;
	}

	// .reg__body

	&__body {
	}

	// .reg__form

	&__form {
		max-width: 420px;
	}
}

.regForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// .regForm__item

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	// .regForm__label

	&__label {
		padding-left: rem(20);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		font-weight: 500;
		color: $notWhite;
	}

	// .regForm__input

	&__input {
		padding-block: rem(15);
	}

	// .regForm__viewpass

	&__viewpass {
		position: absolute;
		display: inline-block;
		width: auto;
		height: 100%;
		right: 0;
		top: 55%;
		text-align: right;
		padding-right: rem(18);
		opacity: 0.25;
		cursor: pointer;
		font-size: rem(16);
		transition: opacity 0.5s ease;
		&:hover {
			opacity: 0.4;
		}
	}

	// .regForm__agreement

	&__agreement {
		text-align: center;
		margin-bottom: rem(45);
	}

	// .regForm__inputCheckbox

	&__inputCheckbox {
	}

	// .regForm__labelCheckbox

	&__labelCheckbox {
		color: $notWhite;
	}

	//.regForm__button

	&__button {
		align-self: center;
		span {
			transform: rotateY(0deg);
			transition: all 0.5s ease;
		}
		&:hover {
			span {
				transform: rotateY(180deg);
				transition: all 0.5s ease;
			}
		}
	}
	//.regForm__login
	&__login {
		text-align: right;
		font-size: rem(12);
		color: $notWhite;
		a {
			color: #005cc8;
		}
	}
}

//====================успешная регистрация======================

.goodReg {
	background-color: #9b9b9b74;

	// background-color: #4e4e4ec5;

	// .goodReg__head

	&__head {
		margin-bottom: rem(20);
	}

	// .goodReg__title

	&__title,
	&__subtitle,
	&__item {
		text-align: center;
	}

	// .goodReg__subtitle

	&__subtitle {
	}

	// .goodReg__body

	&__body {
	}

	// .goodReg__item

	&__item {
	}
}

//====================выход из кабинета======================

.popup {
	// .popup__exit

	&__exit {
	}
}
.exit {
	// .exit__head

	&__head {
		margin-bottom: rem(50);
	}

	// .exit__title

	&__title {
		margin-bottom: rem(10);
	}

	// .exit__subtitle

	&__subtitle {
	}

	// .exit__body

	&__body {
	}

	// .exit__item

	&__item {
		display: flex;
		column-gap: rem(25);
		:last-child {
			a {
				background-color: $two;
			}
		}
		a {
			outline: none;
		}
	}
}
