//<FORM>
// Снипет (HTML):
.form {
	* {
		&:active,
		&:hover,
		&:focus {
			outline: 0;
			outline-offset: 0;
		}
	}
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
		color: $accent;
		font-size: rem(64);
		font-family: "Gilroy";
		position: absolute;
		width: fit-content;
		height: fit-content;
		left: 25px;
		top: 100%;
		transform: translate3d(0, -55px, 0);
		pointer-events: none;
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
