//<FORM>
// Снипет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
		color: $accent;
		font-size: rem(58);
		font-family: "Gilroy";
		position: absolute;
		width: fit-content;
		height: fit-content;
		left: 25px;
		top: 100%;
		transform: translate3d(0, -55px, 0);
		pointer-events: none;
	}
}

._form-error {
	label {
		color: $accent;
	}
}

._form-error + .fileInput__button {
	border-bottom: 2px solid $accent;
	color: $accent;
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
