//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	display: block;
	border-radius: 80px;
	padding: rem(10) rem(50);
	font-size: 16px;
	background: $greyLight;
	border: 2px solid #e7e7e7;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1), inset 0px -2px 8px rgba(0, 0, 0, 0.05);
	&:hover {
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0px -2px 5px rgba(0, 0, 0, 0.1);
	}
	&._form-focus {
		filter: brightness(90%);
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0px -2px 5px rgba(235, 235, 235, 0.9);
	}
	&._form-error {
		color: $accent;
		border: 2px solid $accent;
		box-shadow: 0px 0px 15px rgba(211, 51, 103, 0.5), inset 0px 5px 7px #ffffff, inset 0px -2px 8px rgba(0, 0, 0, 0.05);
	}

	&:-webkit-autofill {
		transition: all 5000s ease-in-out;
	}
}
textarea.input {
	resize: none;
	min-height: 100px;
}
