// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	z-index: 10;

	// .select__body
	&__body {
		position: relative;
		display: inline-block;
	}
	// .select__title
	&__title {
		padding: rem(10) rem(50);
		min-width: 300px;
		position: relative;
		z-index: 5;
		color: inherit;
		text-align: center;
		cursor: pointer;
		width: 100%;
		border-radius: 80px;
		font-size: 16px;
		background-color: $greyLight;
		border: 2px solid $notWhite;
		outline: 0;
		outline-offset: 0;
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: rem(30);
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			background: url(@img/user/new-request/arrows-select.svg) center / 80% no-repeat;
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.7s cubic-bezier(0.46, 0.165, 0.675, 1.43) 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-450deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		overflow: hidden;
		position: absolute;
		z-index: 4;
		top: 29px;
		border-radius: 0 0 30px 30px;
		min-width: 100%;
		width: 100%;
		left: 0;
		background-color: $notWhite;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding-block: 30px 10px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		font-size: rem(16);
		text-align: center;
		cursor: pointer;
		padding: 10px 10px;
		color: inherit;
		white-space: wrap;
		&._select-selected {
			background-color: red;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $greyLight;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
		filter: brightness(90%);
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
