$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$_ic-calendar: "\e900";
$_ic-check: "\e901";
$_ic-close: "\e902";
$_ic-person: "\e903";
$_ic-smile: "\e904";
$_ic-target: "\e905";
