// Заголовки, общие БЄМ блоки и проче...
* {
	line-height: 115%;
	letter-spacing: 0.03em;
	color: $mainColor;
}

._h1 {
	font-family: "Gilroy";
	font-weight: 800;
	@include adaptiveValue("font-size", 68, 40);
	line-height: 96.4%;
	letter-spacing: 0.03em;
	color: $mainTitle;
}

._h2 {
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 36px;
	line-height: 122%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: $mainTitle;
}

._h3 {
	font-weight: 500;
	font-size: 22px;
	line-height: 114%;
	letter-spacing: 0.03em;
	color: $mainTitle;
}

._h4 {
	font-weight: 700;
}

._nav {
	font-weight: 700;
	letter-spacing: 0.07em;
	color: $mainTitle;
}

._btn {
	position: relative;
	display: inline-block;
	font-weight: 700;
	line-height: rem(23);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: $notWhite;
	padding: rem(20) rem(30);
	background-color: $accent;
	border-radius: 100px;
	transition: text-shadow 0.5s ease;
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		left: 0;
		top: 0;
		background-color: inherit;
		filter: blur(5px);
		transition: filter 0.5s ease;
	}

	&_medium {
		padding: rem(10) rem(15);
		text-transform: lowercase;
		font-size: rem(18);
		font-weight: normal;
	}
	&:focus {
		filter: brightness(93%);
	}
	[class="_ic-smile"] {
		transform: rotateY(0deg);
		transition: all 0.5s cubic-bezier(0.46, 0.165, 0.675, 1.43);
	}
	&:hover [class="_ic-smile"] {
		transform: rotateY(180deg);
		transition: all 0.5s cubic-bezier(0.46, 0.165, 0.675, 1.43);
	}
}
._btn:hover,
[class*="input"]:hover + ._btn {
	text-shadow: 0 0 10px #f7f7f780;
	&::after {
		filter: blur(7px);
	}
}

[class*="input"]:focus + ._btn {
	filter: brightness(95%);
}

._tags {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	padding: rem(7) rem(10) rem(5);
	background-color: $accent;
	border-radius: 100px;
	&_bright {
		color: $notWhite;
	}

	//._tags_big

	&_big {
		padding: rem(13) rem(35) rem(10);
		background-color: $two;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		left: 0;
		top: 0;
		background-color: inherit;
		filter: blur(5px);
	}
}

[class*="_ic"] {
	display: inline-block;
	color: inherit;
	margin-right: 10px;
}
