//====================================================================================================
.footer {
	// .footer__content

	&__content {
		color: $notWhite;
		padding-block: rem(24);
		background-color: $two;
		text-align: center;
	}
}

//====================================================================================================
