//====================page======================
.page {
	// .page__newRequest

	&__newRequest {
		@include adaptiveValue("margin-bottom", 150, 85);
		@include adaptiveValue("margin-top", 200, 100);
	}

	// .page__myRequest

	&__myRequest {
		@include adaptiveValue("margin-bottom", 150, 85);
	}
}

//====================новая заявка======================

.newRequest {
	&::after {
		content: "";
		background: url(@img/first/Linth1.svg) center / cover no-repeat;
		position: absolute;
		z-index: 5;
		width: 100px;
		height: 100px;
		left: 50%;
		top: 150px;
		animation: rotate 30s linear infinite;
		will-change: transform;

		@keyframes rotate {
			0% {
				transform: rotate3D(0, 0, 1, 0deg);
			}
			100% {
				transform: rotate3D(0, 0, 1, 360deg);
			}
		}
		@media (max-width: $tablet) {
			width: 80px;
			height: 80px;
			left: 28%;
			top: 130зч;
		}
	}
	// .newRequest_head

	&__head {
		@include adaptiveValue("margin-bottom", 80, 30);
		max-width: 1200px;
		margin-inline: auto;
		@include adaptiveValue("padding-left", 90, 50);
	}

	// .newRequest__container

	&__container {
		max-width: 1360px;
	}

	// .newRequest__body

	&__body {
		@include adaptiveValue("padding-block", 68, 50);
		border-radius: 80px;
		background-color: #4e4e4eb5;
		position: relative;
		overflow: hidden;
	}

	// .newRequest__form

	&__form {
		display: flex;
		flex-direction: column;
		> div:not(:last-child) {
			margin-bottom: rem(30);
		}
		@include adaptiveValue("padding-left", 90, 50);
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 70%;
			@include adaptiveValue("left", 0, 320);
			bottom: -1px;
			background: url(@img/first/Linth.svg) 115% 80% / contain no-repeat;
			pointer-events: none;
		}
	}

	// .newRequest__item

	&__item {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	// .newRequest__label

	&__label {
		display: block;
		margin: 0 0 rem(30) rem(25);
		color: $notWhite;
	}

	// .newRequest__input

	&__input {
		width: 100%;
		max-width: rem(480);
	}

	// .newRequest__fileInput

	&__fileInput {
	}

	// .newRequest__button

	&__button {
		position: relative;
		z-index: 2;
		align-self: center;
		@include adaptiveValue("margin-left", -90, -50);
		span {
		}
	}
}

.fileInput {
	span {
		font-size: rem(14);
	}
	// .fileInput__body

	&__body {
		position: relative;
		display: inline-block;
		margin-right: rem(40);
	}

	// .fileInput__input

	&__input {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		font-size: 0;
		opacity: 0;
		cursor: pointer;
	}

	// .fileInput__button

	&__button {
		background-color: $two;
		min-width: 200px;
	}

	// .fileInput__preview

	&__preview {
		display: block;
		margin-block: 20px;
		width: 100px;
		height: 100px;
		border-radius: 20px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//====================мои заявки======================

.myRequest {
	// .myRequest__container

	&__container {
	}

	// .myRequest__head

	&__head {
		@include adaptiveValue("margin-bottom", 80, 30);
	}

	// .myRequest__filter

	&__filter {
		@include adaptiveValue("margin-bottom", 100, 60);
	}

	// .myRequest__title

	&__title {
	}

	// .myRequest__body

	&__body {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 1100px) {
		}
		justify-content: space-between;
		gap: rem(60);
	}

	// .myRequest__column

	&__column {
		flex: 1 1 calc(50% - 60px);
		@media (max-width: 1100px) {
			flex: 1 0 100%;
		}
		display: flex;
		flex-direction: column;
	}

	// .myRequest__card

	&__card {
	}

	&__pagination {
		text-align: center;
		margin-top: rem(50);
		cursor: pointer;
	}
}

.myCard {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background: rgba(241, 227, 207, 0.5);
	border-radius: 30px;
	padding: rem(15) rem(30) rem(0) rem(0);
	// .myCard__date

	&__date {
		align-self: start;
		margin: rem(0) rem(0) rem(10) rem(30);
	}

	// .myCard__raw

	&__raw {
		display: flex;
		column-gap: 15px;
		flex: 1 1 auto;
	}

	// .myCard__media

	&__media {
		flex: 0 0 240px;
		border-radius: 0px 80px 0px 10px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .myCard__content

	&__content {
		padding: rem(35) rem(0) rem(15) rem(0);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	// .myCard__title

	&__title {
		margin-bottom: rem(10);
	}

	// .myCard__text

	&__text {
		margin-bottom: rem(33);
		flex: 1 1 auto;
	}

	// .myCard__status

	&__status {
		display: inline-block;
		margin-bottom: rem(17);
	}

	// .myCard__category

	&__category {
		display: inline-block;
	}
}

.filter {
	// .filter__body

	&__body {
		position: relative;
		@include adaptiveValue("padding-block", 68, 50);
		padding-inline: 200px;
		border-radius: 80px;
		background-color: #4e4e4eb5;
		position: relative;
		overflow: hidden;
		&::after {
			content: "";
			background: url(@img/user/meRequest/iconmonstr-filter-3.svg) 100px center / contain no-repeat;
			position: absolute;
			width: 100%;
			height: 50%;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			opacity: 0.1;
			pointer-events: none;
		}
	}

	// .filter__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-content: center;
		text-align: center;
		column-gap: rem(40);
		row-gap: rem(20);
	}

	// .filter__item

	&__item {
		cursor: pointer;
		filter: brightness(100%);
		transition: filter 0.5s ease;
		&:hover {
			filter: brightness(93%);
		}
	}
}
